:root{
    --color-primary:black;
    --color-gray:#b9bdba;
    --color-purple:#8b81f7;
    --height-header: 60px;
    --height-Eventslist: 600px;
    --width-Eventslist: 800px;
    --height-eventlist-header: 50px;
    --height-eventlist-item: 35px;
}
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
html{
    font-size: 0.625rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


.header {
    height: var(--height-header);
    line-height: var(--height-header);
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-left: 10px;
}


.content {
    height: calc(100% - var(--height-header));
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.eventslist {
    height: var(--height-Eventslist);
    width: var(--width-Eventslist);

    border-radius: 5px;
}

.flex-containter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eventslist-add{
    background-color: #6d97f2;
}
.eventslist-addbtn{
    background-color: #dfe5f2;
    color: hsl(221, 90%, 60%);
    height: 35px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid  gray;
    border-radius: 8px;
}
.eventslist-add,
.eventlist-header,
ul li {
    height: var(--height-eventlist-header);
    line-height: var(--height-eventlist-header);
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-left: 10px;

    list-style: none;
    border: none;
    outline: none;
}
ul li{
    border: 1px solid #bac5d6;
}
.eventlist-header{
    border: 1px solid #bac5d6;
}
.event-input-box{
    height: var(--height-eventlist-item);
    line-height: var(--height-eventlist-item);
    margin-top: 7px;
}
.event-btns{
    border: none;
    background: #FFF;
    color: hsl(221, 90%, 60%);
    cursor: pointer;
}