:root{
    --color-primary:black;
    --color-gray:#b9bdba;
    --color-purple:#8b81f7;
}
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
html{
    font-size: 0.625rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}